spring:
  datasource:
    url: jdbc:mysql://localhost:3306/employeedb
    username: root
    password: Hari@2005
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true

server:
  port: 8080
